<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Hate MMGVO Awards</title>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Team Hate MMGVO Awards 2018</a>
      </div>
    </nav>
    <div class="container" style="text-align: center;">
      <h1 style="color: tomato;">ERROR!</h1>
      <ul style="list-style-type:none">
      <% if @error.count > 0 %>
        <% @error.each do |msg|%>
          <li><%= msg.to_s %></li>
        <% end %>
      <% end %>
      </ul>
      <img src="lib/imgs/broken-banana.jpg" alt="">
    </div>

  </body>

</html>
